<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556719711627-rog1qn6d3u7aglts54sao01d3nt93gmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556719711627-rog1qn6d3u7aglts54sao01d3nt93gmd</string>
	<key>API_KEY</key>
	<string>AIzaSyDV-pqDrqwojXW4qOMu-JRZUe9bSd03Gv8</string>
	<key>GCM_SENDER_ID</key>
	<string>556719711627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harundemirkaya.AutoLayoutAsis</string>
	<key>PROJECT_ID</key>
	<string>asis-53223</string>
	<key>STORAGE_BUCKET</key>
	<string>asis-53223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:556719711627:ios:0a4c8e36ff03b1eac27b8e</string>
</dict>
</plist>
